:root {
  --pointer-cursor: url(../assets/pointer.png), pointer;
  --edit-cursor: url(../assets/pointer.png), text;
  --text-cursor: url(../assets/pointer.png), text;
  --button: url(../assets/pointer.png), text;
}
* {
  cursor: var(--pointer-cursor);
}

body {
  margin: 0;
}

